*{
    margin: 0;
    padding: 0;
}

main{
    width: 70%;
    margin: 25px auto 0 auto;
}
    div.info{
        height: 400px;
    }
        div.info div.trailer{
            width: 69%;
            height: 100%;
            display: inline-block;
            border: 1px solid black;
        }
            div.info div.trailer iframe{
                width: 100%;
                height: 100%;
            }
        div.info div.movie_details{
            width: 29%;
            display: inline-block;
            padding: 10px;
            vertical-align: top;
            border: 1px solid black;
            margin-left: 10px;
            height: 100%;
            overflow-y: auto;
        }
    div.artist{
        margin: 30px 0;
    }
        div.artist ul{
            display: inline-block;
            margin: 0 20px;
        }

div.container{
    width: 90%;
    margin: auto
}
    #latest_movie{
        margin: 60px 0 0 0;
    }
        #latest_movie a{
            text-decoration: none;
            color: black;
        }
        div.card{
            display: inline-block;
            width: 16%;
        }
        div.card-body{
            text-align: start;
        }
            div.card-body h5.card-title{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        div.carousel-inner{
            margin: auto;
            text-align: center;
        }
        button.prev_button {
            background-color: rgba(155, 155, 155, 0.5);
            width: 40px;
            height: 50px;
            border: 1px black solid;
            border-radius: 5px;
            margin: auto;
        }
        button.next_button {
            background-color: rgba(155, 155, 155, 0.5);
            width: 40px;
            height: 50px;
            border: 1px black solid;
            border-radius: 5px;
            margin: auto;
        }
    div.modal_content{
        font-size: 15px;
    }
        div.modal_content input{
            display: inline-block;
        }
        div.modal_content div.modal_btn{
            text-align: end;
            margin-top: 10px;
        }
        button.btn-close{
            margin: 0 0 0 auto;
        }
        textarea#inputSummary{
            resize: none;
            height: 100px;
        }
    div.edit_movie_nav{
        margin-bottom: 20px;
    }
        div.watchlist{
            display: inline-block;
        }
        div.edit_rate{
            display: inline-block;
        }
        div.edit_genre{
            display: inline-block;
        }
        div.edit_movie_info{
            display: inline-block;
        }

        div.add_casts{
            display: inline-block;
        }
        div.add_artist{
            display: inline-block;
        }

    div.container{
        margin-bottom: 70px;
    }