*{
    padding: 0;
    margin: 0;
}
main#list{
    width: 60%;
    margin: 50px auto 0 auto;
}
    div.card-body-container{
        display: inline-block;
        width: 79%;
        height: 200px;
    }
    div.list_card_img{
        width: 19%;
        height: 100%;
        display: inline-block;
    }
        div.list_card_img img{
            height: 100%;
            width: 100%;
            object-fit: cover;       
            object-position: center; 
        }
        div.card-body p.card-text{
            font-size: 18px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
            div.card-body a{
                text-decoration: none;
                color: black;
            }
        div.watchlist_btn{
            text-align: end;
        }
        div.watchlist_btn button.btn{
            height: 50px;
            font-size: 20px;
            margin-top: 15px;
        }
